
.link {
  text-decoration: none;
  color: black;
}

.house-card {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-orange {
  background-color: rgb(248, 113, 2);
  text-align: center;
  color: #fff;
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
